.side-drawer {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px;
    box-shadow: 5px 0 10px #888888;
    height: 100%;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
}

.side-drawer.open{
    transform: translateX(0);
}